@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    --primary-color: lightCoral;
    --secondary-color: dimgrey;
    --tertiary-color: gainsboro;
}

body {
    font-family: Lato, sans-serif;
    background-color: var(--primary-color);
    font-size: 18px;
}

#container {
    height: 525px;
    width: 370px;
    background-color: #f7f7f7;
    border-radius: 20px;
    margin: 100px auto;
    box-shadow: 5px 5px 5px var(--tertiary-color);
}

.title {
    padding: 20px;
    background-color: var(--tertiary-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.tipsForm {
    padding-left: 40px;
    padding-right: 20px;
}

.formInput {
    background: white;
    padding: 6px;
    width: 40px;
}

.formInput:focus, .formSelect:focus {
    border: 3px solid var(--primary-color);
    outline: none;
}

.formSelect {
    width: 180px;
    padding: 5px;
}

.formSubmit {
    background-color: var(--primary-color);
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    display: block;
    width: 200px;
    height: 50px;
    margin: 30px 45px;
}

#totalTip {
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}